      <distroRequires>
        <and>
          <distro_family op="=" value="{{ distro }}" />
          <distro_variant op="=" value="BaseOS" />
          <distro_arch op="=" value="{{ arch }}" />
        </and>
      </distroRequires>
