{% set name='MULTIHOSTS WARN' %}
{% extends 'recipesets/multihosts/base.j2' %}
{% block tasks_host_1 %}
    {% include 'tasks/check_install.j2' %}
    {% include 'tasks/warn.j2' %}
{% endblock %}
{% block tasks_host_2 %}
    {% include 'tasks/check_install.j2' %}
    {% include 'tasks/warn.j2' %}
{% endblock %}
